<p id="notice"><%= notice %></p>

<h1>Discount Classes</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discount_classes.each do |discount_class| %>
      <tr>
        <td><%= discount_class.class %></td>
        <td><%= discount_class.description %></td>
        <td><%= link_to 'Show', discount_class %></td>
        <td><%= link_to 'Edit', edit_discount_class_path(discount_class) %></td>
        <td><%= link_to 'Destroy', discount_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discount Class', new_discount_class_path %>
