<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :providerID_id %>
    <%= form.text_field :providerID_id %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :allergicSubstances %>
    <%= form.number_field :allergicSubstances %>
  </div>

  <div class="field">
    <%= form.label :productable_id %>
    <%= form.text_field :productable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
