<%= form_with(model: admin_account, local: true) do |form| %>
  <% if admin_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_account.errors.count, "error") %> prohibited this admin_account from being saved:</h2>

      <ul>
      <% admin_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accountLevel %>
    <%= form.number_field :accountLevel %>
  </div>

  <div class="field">
    <%= form.label :accountable_id %>
    <%= form.text_field :accountable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
