<p id="notice"><%= notice %></p>

<p>
  <strong>Accountlevel:</strong>
  <%= @admin_account.accountLevel %>
</p>

<p>
  <strong>Accountable:</strong>
  <%= @admin_account.accountable %>
</p>

<%= link_to 'Edit', edit_admin_account_path(@admin_account) %> |
<%= link_to 'Back', admin_accounts_path %>
